<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title> Google Places </ion-title>
  </ion-toolbar>
</ion-header>
<ion-toolbar>
  <ion-searchbar
    search-icon="search-circle"
    animated="true"
    show-clear-button="focus"
    clear-icon="trash-bin"
    debounce="800"
    placeholder="Search for area, Street..."
    (ionInput)="onSearchChange($event)"
  >
  </ion-searchbar>
</ion-toolbar>

<ion-content [fullscreen]="true"> 

  <ion-list *ngIf="places.length > 0">
    <ion-item *ngFor="let place of places">
      <ion-icon name="location-outline" slot="start">  </ion-icon>
        <ion-label>
         {{place?.title}}
          <p>
            <ion-text>
             {{place.address}}
            </ion-text>
          </p>
        </ion-label>
    </ion-item>
  </ion-list>
</ion-content>

